extends ../layout

block content
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
    .container.px-4.px-lg-5
       
        h1 Nueva Bicicleta
        
        form(action='/bicicletas/create' method='post')
            .mb-3.row
                .col-sm-3
                    label.form-label(for='id') Id
                    input#id.form-control(type='text'  name='id' placeholder='Ingrese Id')
            .mb-3.row
                .col-sm-3
                    label.form-label(for='color') Color
                    input#color.form-control(type='text'  name='color' placeholder='Ingrese un Color')
            .mb-3.row
                .col-sm-3
                    label.form-label(for='modelo') Modelo
                    input#modelo.form-control(type='text'  name='modelo' placeholder='Ingrese un Modelo')
            .mb-3.row
                .col-sm-3
                    label.form-label(for='lat') Latitud
                    input#lat.form-control(type='text'  name='lat' placeholder='Ingrese un Latitud')
            .mb-3.row
                .col-sm-3
                    label.form-label(for='lng') Longitud
                    input#lng.form-control(type='text'  name='lng' placeholder='Ingrese una Longitud')
            .mb-3.row
                .col-sm-2
                    button.btn.btn-success(type='submit') Guardar
                .col-sm-3
                    a.btn.btn-secondary(href='/bicicletas') Volver