extends ../layout 

block content 
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
    .container.px-4.px-lg-5
        br
        .mb-3.row
            .col-sm-4
                a.btn.btn-success.btn-sm(href='/bicicletas/create') Nueva Bicicleta

        .mb-3.row
            .col-sm-12
                table.table.table-stried
                    thead
                        tr 
                            th(scope='col') #
                            th(scope='col') Color
                            th(scope='col') Modelo 
                            th(scope='col') Ubicacion 
                            th(scope='col')  
                            th(scope='col')  
                    tbody 
                        each bici in bicis  
                            tr 
                                th(scope='row')= bici.id
                                td= bici.color
                                td= bici.modelo 
                                td= bici.ubicacion
                                td 
                                    a.btn.btn-primary.btn-sm(href= 'bicicletas/' + bici.id + '/update') Editar
                                td
                                    form.inline(method='post' action='bicicletas/' + bici.id + '/delete')
                                        input(type='hidden' name='id' value= bici.id)
                                        button.btn.btn-danger.btn-sm.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                            ='Eliminar'


